@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
}



.display-Head {

    display: flex;
    justify-content: space-between;
    background-color: none;

    height: 105vh;
    width: 100%;
    background-color: #000b38f1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.logoHead {

    height: 7.5rem;
    margin-top: 1rem;
    margin-left: 15rem;
}



@media all and (max-width: 1837px) {


    .toggle_btn {
  
      height: 30px;
      width: 30px;
      position: relative;
      float: right;
      margin-right: 10px;
      margin-top: 43px;
      cursor: pointer;
  
  
    }
  
    .toggle_btn span {
  
      height: 3px;
      background-color: #ffffff;
      width: 100%;
      position: absolute;
      top: 20px;
      left: 0;
  
  
    }
  
  
    .toggle_btn span::before {
  
      content: '';
      height: 3px;
      background-color: #ffffff;
      width: 100%;
      position: absolute;
      top: -10px;
      left: 0;
  
  
    }
  
  
    .toggle_btn span::after {
      content: '';
      height: 3px;
      background-color: #ffffff;
      width: 100%;
      position: absolute;
      top: 10px;
      left: 0;
  
  
    }
  
    .menu {
  
      height: 300px;
      background: #000B38;
      position: absolute;
      right: 0;
      margin-right: 0rem;
      display: block;
      z-index: 1;
      width: 200px;
  
    }
  
  
  
    .menu li {
  
      display: block;
      padding-top: 30px;
      color: white;
      text-align: center;
      padding: 0 auto;
      margin-right: 0
    }
  
    .nav {
  
      margin-right: -200px;
      transition: 0.2s;
      display: none;
  
    }
  
    .nav_open {
  
      margin-right: 0;
      transition: 0.2s;
      display: block;
    }
  
  
    .sous{
  
      display: none;
      opacity: 0;
      }
      
  
  
  }
  
  


header ul {

    display: flex;
    margin-right: 27rem;
    margin-top: 3rem;
    align-items: center;

}


header ul li {

    margin-right: 100px;
    list-style: none;
}

header ul a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;


}


.list-Head-Hover:hover{

opacity: 0.7;

}


/* ---------------Menu Deroulant ------------------------------- */

.li {

    list-style: none;
    margin-left: 15%;

}





.listeNav a {

    text-decoration: none;
    color: rgb(37, 37, 37);
    font-family: 'roboto';
    font-weight: 500;
}




.listeNav a:hover {

    color: rgb(218, 98, 0);
    border-bottom: 2px solid gold;

}

/* ---------------------------- Menu deroulant 1      */

.sous-Menu {

    list-style: none;
    margin-top: 1rem;


}

.sous {

    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #000B38;
    position: absolute;
    /* width: 16rem;
    height: 11.4rem; */
    padding: 1rem;
    margin: auto;
    z-index: 1;
}

.list-Head>li:hover .sous {

    display: block;

}

.sous li {

    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 8px;

}

.sous a {
    padding: 10px;
    border-bottom: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.sous a:hover {
    border-bottom: none;
    color: #ffffff91;

}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;

}

/* ------------------------------------- */




.button-Devis-Top {



    border: #ff0000 solid 10px;
    border-radius: 15px;
    background-color: #ff0000;
    text-decoration: none;

}


.button-Devis-Top:hover {

    border: #eb0000 solid 10px;
    background-color: #eb0000;
color: #000B38;
}








.buttonNum {
    border: white solid 10px;
    border-radius: 20px;
    background: white;

    color: #000B38;
}

.buttonNum:hover {

    background-color: #000B38;
    border: #000B38 solid 10px;
    color: white;
}


.imgHead {

    height: 100vh;
    width: 100%;

}



.titreHead {

    position: absolute;

}

h1 {

    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    
    position: relative;
    bottom: 46rem;
    left: 34rem;
}


.titre-Test {
position: absolute;
    

}


.container {

    width: 1200px;
    margin: auto;


}


.formulaire{

position: relative;

}


form {

    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5rem;

}

form h3{

    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000B38;
margin-bottom: 1.5rem;
}


#name {
    margin-top: 1rem;
    padding: 11px;
    width: 1079px;

}

#numPhone{

    margin-top: 2rem;
    width: 500px;
    margin-right: 5rem;
    padding: 11px;

}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;}

#email {
    padding: 11px;
    margin-top: 2rem;
    width: 500px;

}


#subject {
    width: 1079px;
height: 103px;
}

#subject::placeholder{

    padding-left : 10px;
    
    }
    




#submit {
    margin-top: 2rem;
border-radius: 15px;
padding: 11px 0;
width: 220px;
cursor: pointer;

font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}

#submit:hover{

background-color: #ff0000;
color: #000B38;
}

form input, textarea{

  
    border: 2px solid #000b3896;
resize: none;
border-radius: 15px;
}

form input::placeholder,
form textarea::placeholder{
color: #000B38;
}

textarea{

height: 4rem;

}



.position-select-service{

margin-top: 2rem;


}


.display-Line2{

    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;

}

.display-Line3{

    display: flex;
justify-content: space-between;
align-items: flex-end;
margin-top: 1rem;

}

.display-Line4{

  margin-top: 92px;
display: flex;
flex-direction: column;

}

#text-Subject{

color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
margin-bottom: 1rem;
}






.titre-Select{
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 42px 0 19px 0;
    color: white;
 

}

select{

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000B38;
    padding: 11px;
border-radius: 15px 15px;
display: initial;
border: 2px solid #000b3896;
width: 350px;
}

option{

    border: 1px solid #000b3896;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#adresse{

padding: 11px;
width: 500px;
}


.checked2 {

margin-top: 1rem;
    color: white;


}


.checked2 label {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    

}

.checked2 a {

    color: white;

}















/* -------------------------------- */





/* -------------------------------- */

.container {

    width: 1200px;
    margin: auto;
  
  
  }
  
  footer p{
  
  display: flex;
  
  }
  
  
  
  footer {
    position: relative;
    bottom: 0;
    top: 0;
    height: 24.5rem;
    background-color: #000B38;
  
  }
  
  #display-General-Footer {
  
    display: flex;
    align-items: center;
  
  }
  
  
  
  
  .display-Logo-Footer {
  
    display: flex;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
  
  
  .logo-Footer {
  
    height: 5rem;
    margin-right: 20px;
  
  }
  
  
  .logo-Lien-Footer:hover {
    opacity: 0.8;
  
  }
  
  
  .section-Gauche h4 {
  
  
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 2rem;
  
  
  }
  
  .num {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
  
  }
  
  
  
  
  
  .section-Gauche {
    margin-left: 5rem;
  
  
  }
  
  .display-Footer {
  
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  .display-Footer2 {
  
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  
  .section-Gauche li {
  
    list-style: none;
  
  }
  
  .section-Middle{
  
  margin-top: 2rem;
  
  }
  
  
  
  
  .text-Footer p {
  
  
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    padding-top: 13px;
  
  
  }
  
  
  .footer li {
  
    list-style: none;
    text-decoration: none;
  }
  
  .icon-Footer {
    color: #ffffff;
    margin-top: 6px;
  }
  
  
  footer a {
  
    text-decoration: none;
  
  
  }
  
  .fas {
  
  
  
    margin-right: 1.5rem;
  }
  
  .fab {
  
    font-size: 2.3rem;
  
  }
  
  
  .reseau-Soc {
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  
  
  .name-Footer{
  
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
  padding-bottom: 1.4rem;
  }







  

@media all and (max-width: 1200px) {

  .toggle_btn {

    margin-top: 21px
  }


  .logoHead {
    height: 4.5rem;
    margin-top: 1rem;
    margin-left: 2rem;

  }


  .main-Position {

    left: 5rem;

  }




  footer {


    height: auto;


  }


  .container {

    width: auto;

  }

  #display-General-Footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;

  }

  .reseau-Soc {

    margin-top: 2rem;

  }

  .section-Gauche {

    margin-left: 16px;

  }




}


@media all and (max-width: 1100px) {


form{

width: 90%;

}

#name{

width: 90%;

}

  #subject{

    width: 90%;

  }


}

@media all and (max-width: 1024px) {


.display-Head{
height: 75vh;

}

}


@media all and (max-width: 1020px) {


  .display-Head{
    height: 100vh;
    
    }
    


}


@media all and (max-width: 1010px) {

h1{

left: 22rem;

}


}


@media all and (max-width: 625px) {

  h1{
  
  left: 13rem;
  
  }
  
  
  }
  



@media all and (max-width: 611px) {

.titre-Test{
bottom: 54rem;
left: 10rem;

}


.display-Line2{
flex-wrap: wrap;


}
  
  
.display-Line3{
  flex-wrap: wrap;
  
  
  }
    

  #adresse {

margin-top: 1rem;

  }

  select{

width: 100%;

  }
  
  
  }


  @media all and (max-width: 414px) {

 .display-Head{

height: 143vh;

 }
    
 .titre-Test{

  font-size: 35px;
  left: 8rem;
  bottom: 55rem;
  }

      }


      @media all and (max-width:375px) {


        .display-Head{

          height: 135vh;
          
           }

.titre-Test{

font-size: 35px;
left: 7rem;
bottom: 57rem;
}
           
             }
       
       


  @media all and (max-width: 332px) {

.titre-Test{


font-size: 40px;
left: 5rem;
}


  }


  @media all and (max-height: 667px) {

 .display-Head{

height: 165vh;

 }
    
    
      }