@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
}



.display-Head {

    display: flex;
    justify-content: space-between;
    background-color: none;

    height: 12.5vh;
    width: 100%;
    background-color: #000b38f1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.logoHead {

    height: 5.5rem;
    margin-top: 1rem;
    margin-left: 15rem;
}


header ul {

    display: flex;
    margin-right: 34rem;

    align-items: center;

}


header ul li {

    margin-right: 100px;
    list-style: none;
}

header ul a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;


}



.display-List-Head{

display: flex;

}

.list-Head-Hover:hover{

  opacity: 0.7;

}




/* ---------------Menu Deroulant ------------------------------- */

.li {

    list-style: none;
    margin-left: 15%;

}





.listeNav a {

    text-decoration: none;
    color: rgb(37, 37, 37);
    font-family: 'Montserrat', sans-serif;
        font-weight: 500;
}




.listeNav a:hover {

    color: rgb(218, 98, 0);
    border-bottom: 2px solid gold;

}

/* ---------------------------- Menu deroulant 1      */

.sous-Menu {

    list-style: none;
    margin-top: 1rem;


}

.sous {

    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #000B38;
    position: absolute;
    /* width: 16rem;
    height: 11.4rem; */
    padding: 1rem;
    margin: auto;
    z-index: 1;
}

.list-Head>li:hover .sous {

    display: block;

}

.sous li {

    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 8px;

}

.sous a {
    padding: 10px;
    border-bottom: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.sous a:hover {
    border-bottom: none;
    color: #ffffff91;

}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;

}

/* ------------------------------------- */




.button-Devis-Top {



    border: #ff0000 solid 10px;
    border-radius: 15px;
    background-color: #ff0000;
    text-decoration: none;

}


.button-Devis-Top:hover {

    border: #eb0000 solid 10px;
    background-color: #eb0000;
    color: #000B38;

}








.buttonNum {
    border: white solid 10px;
    border-radius: 20px;
    background: white;

    color: #000B38;
}

.buttonNum:hover {

    background-color: #000B38;
    border: #000B38 solid 10px;
    color: white;
}


.imgHead {

    height: 100vh;
    width: 100%;

}



.titreHead {

    position: absolute;

}

h1 {

    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #000B38;
    
    position: relative;
    bottom: 10px;
}


.titre-Test {
position: absolute;
    

}







.monMain {

    width: 60%;
    height: auto;
    background-color: rgba(228, 228, 228, 0.37);

    margin-left: 20%;
margin-top: 10px;
padding-bottom: 4%;

}



h1{

text-align: center;
font-size: 2.5em;
font-family: 'Montserrat', sans-serif;
font-weight:  bold;
padding-top: 1.1rem;

}

h2{

font-size: 1.7em;
margin-top: 5%;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
margin-left: 3%;
}

p{

margin-top:1% ;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
margin-left: 3%;
}

span{

font-weight: bold;

}




ul{



}

main li{


margin-top:1rem ;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
margin-left: 5rem;
}















/* -------------------------------- */

.container {

  width: 1200px;
  margin: auto;


}

footer p{

display: flex;

}



footer {
  position: relative;
  bottom: 0;
  top: 0;
  height: 24.5rem;
  background-color: #000B38;

}

#display-General-Footer {

  display: flex;
  align-items: center;

}




.display-Logo-Footer {

  display: flex;
  margin-bottom: 2rem;
  padding-top: 2rem;
}


.logo-Footer {

  height: 5rem;
  margin-right: 20px;

}


.logo-Lien-Footer:hover {
  opacity: 0.8;

}


.section-Gauche h4 {


  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
  margin-top: 2rem;


}

.num {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;

}





.section-Gauche {
  margin-left: 5rem;


}

.display-Footer {

  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.display-Footer2 {

  display: flex;
  align-items: center;
  margin-bottom: 10px;
}



.section-Gauche li {

  list-style: none;

}

.section-Middle{

margin-top: 2rem;

}




.text-Footer p {


  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  padding-top: 13px;


}


.footer li {

  list-style: none;
  text-decoration: none;
}

.icon-Footer {
  color: #ffffff;
  margin-top: 6px;
}


footer a {

  text-decoration: none;


}

.fas {



  margin-right: 1.5rem;
}

.fab {

  font-size: 2.3rem;

}


.reseau-Soc {

  display: flex;
  flex-direction: column;
  align-items: center;

}



.name-Footer{

  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
padding-bottom: 1.4rem;
}